.navBar button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  padding: 22px;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 12px 0 0 0;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
